/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.container {
  margin-top: 40px;
  min-height: 400px;
}

#nav {
  margin: 30px 0px 0px 0px;
}

#nav a {
  text-decoration: none;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.text-like-link {
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}

/* In markdown, we want the list to be displayed with a margin and squares. */

.markdown ul, ol {
  margin-left: 30px;
}

.markdown ul {
  list-style: square outside;
}

/* In markdown, we redefine the titles to be able to use h1->h3 */
.markdown h1 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
.markdown h2 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
.markdown h3 { font-size: 17px; line-height: 24px; }
.markdown h4 { font-size: 14px; line-height: 21px; }
.markdown h5 { font-size: 14px; line-height: 21px; }
.markdown h6 { font-size: 14px; line-height: 21px; }

.markdown pre {
  font-family: Courier;
  width: 100%;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.markdown code {
  font-family: Courier;
}


/* #Page Styles
================================================== */

/* About page */
.social-links li {
  display: inline;
}
.social-links img {
  height: 32px;
  width: 32px;
}

/* Article page (based on _template.html) */
  /* When displaying articles, if screen is bigger than 960px, display images on the right side of text */
@media only screen and (min-width: 960px) {
  .article p {
    width: 520px;
    position: relative;
  }
  .article li {
    width: 520px;
  }
  
  .article img {
    position: absolute;
    left: 600px;
  }  
}

img {
  width: 100%;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/