<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Thomas notes</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/syntax.css">

	<link href="/prettify/prettify.css" type="text/css" rel="stylesheet" />
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-15404974-1']);
		_gaq.push(['_setSiteSpeedSampleRate', 100]);
		
		{% if page.error404 %}

		var myloc = document.location.pathname;
		var myref = document.referrer;

		if (myloc.length == 0) {				
						myloc = "nolocation";
		}
		if (myref.length == 0) {				
						myref = "noreferrer";
		}

		_gaq.push(['_trackPageview', "/404/" + myloc.replace(/\//g, "_") + "/" + myref.replace(/https*:\/\//i, "").replace(/\//g, "_")]);
		{% else %}
		_gaq.push(['_trackPageview']);
		{% endif %}
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
	<div class="container">
		<div class="row remove-bottom">
			<div class="fourteen columns">
				<h1 class="remove-bottom"><a href="/index.html">Thomas notes</a></h1>
			</div>
			<div id="nav" class="two columns remove-bottom">
				<ul class="remove-bottom">
					<li class="remove-bottom"><a href="/about.html">About</a></li>
				</ul>
			</div>
		</div>
		<hr class="sixteen columns" style="margin-top: 2px;"/>
		<!-- End of header -->

				{{ content }}

		<!-- Footer -->
		<hr class="sixteen columns" />
		<div class="sixteen columns footer">
			Copyright Thomas Sarlandie 2013<br/>
			See <a href="/about.html">About</a> page for more copyright information (CC by SA).
		</div>
	</div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/tag-links.js">
  </script>
</body>
</html>